body {background-image: url("../img/fundo.png");
    background-color: #cccccc;}

.retangulo{fill:rgb(32, 32, 32);
    stroke:black;
    stroke-width:5;
    opacity:0.93}

.linha{fill:rgb(32, 32, 32);
    position: absolute;
    stroke:rgb(255, 255, 255);
    stroke-width:2;
    opacity:0.93;
    top: 175px;
    left: 35px;}

.retantudo{fill:rgb(32, 32, 32);
    position: absolute;
    stroke:rgb(112, 112, 112);
    stroke-width:5;
    opacity:0.93;
    top: 195px;
    left: 640px;
}
        
.logo{margin-left: 240px; }

.picareta1{position: absolute;
    top: 265px;
    left: 90px;
    width: 300px;
    height: 300px;
}

.moeda{position: absolute;
    width: 30px;
    height: 30px;
}

.pedra{position: absolute;
    top: 320px;
    left: 150px;
}

#dinheiro{
    position: absolute;
    top: 182px;
    left: 233px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.textdinheiro{
    position: absolute;
    top: 181px;
    left: 135px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

#textloja{
    position: absolute;
    top: 120px;
    left: 100px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

.textupgrade{
    position: absolute;
    top: 120px;
    left: 595px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

#textsobre{
    position: absolute;
    top: 145px;
    left: 1140px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    background: transparent;
    border: none;
}
.sobre{
    position: absolute;
    width: 400px;
    height: 500px;
    top: 230px;
    left: 720px;
}
#sobre{
    position: absolute;
    color: white;
}

.loja{
    position: absolute;
    width: 520px;
    height: 460px;
    top: 230px;
    left: 670px;
    overflow: auto;
    border: 2px solid white;
}

.pickicon{position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(30deg);
}
#item1-text{
    position: absolute;
    color: white;
    font-size: 36px;
    font-weight: bolder;
    cursor: pointer;
    background: transparent;
    border: none;
}
#item1-preco{
    position: absolute;
    color: white;
    font-size: 26px;
}
#item1-comprar{
    position: absolute;
    color: saddlebrown;
    font-size: 20px;
    cursor: pointer;
    width: 95px;
}